<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../icons/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar bg-primary">
        <div class="container-fluid">
            <span class="navbar-brand text-light fw-bold h5">Weather App</span>
            <form class="d-flex">
                <a href="/login" class="btn btn-warning me-3">Login</a>
                <a href="/signup" class="btn btn-danger">Signup</a>
            </form>
        </div>
    </nav>
    <div class="container d-flex justify-content-center align-items-center vh-100">

        <div class="card border border-2 border-primary align-items-center" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">
                    Weather App
                </h3>
                <div class="input-group">
                    <form class="d-flex" id="searchbox">
                        <input id="input-cityname" type="text" class="form-control rounded-2">
                        <button id="search" class=" ms-2 btn btn-primary rounded-circle"
                            style="width: 40px; height: 40px;" type="submit"><i
                                class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                    <div class="d-none spinner-border text-light ms-2" role="status" id="spinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="d-none alert alert-warning mt-3 rounded-3" id="notFound">
                    <h4 class="text-center text-dark">City Not Found</h4>
                </div>
                <div class="d-none alert alert-danger mt-3 rounded-3" id="reqErr">
                    <h4 class="text-center text-dark">Request Error</h4>
                </div>
                <div class="d-none mt-3 alert alert-primary rounded-3" id="noCity">
                    <h4 class="text-center text-dark">Please Enter City Name</h4>
                </div>
                <div class="text-center">
                    <h4 id="cityname" class="mt-4 fw-bold">City Name</h4>
                </div>


                <div class="text-center">
                    <img id="weather-icon">

                    <span>
                        <h4 id="temp" class="mt-2">Temp</h4>
                    </span>
                </div>

                <div class="d-flex justify-content-between w-100 mt-3">
                    <div class="d-flex flex-column align-items-center" style="width: 50%;">
                        <div class="d-flex" id="windDiv">
                            <i class="fa-solid fa-wind wind me-2" style="font-size: 19px;line-height: 1;"></i>
                            <p class="fw-bold h6" id="wind"></p>
                        </div>
                        <p class="fw-bold h6 ">Wind</p>
                    </div>
                    <div class="d-flex flex-column align-items-center" style="width: 50%;">
                        <div class="d-flex" id="humidityDiv">
                            <i class="bi bi-moisture humidity me-3"
                                style="font-size: 21px; line-height: 1;position: relative;top: -2px;"></i>
                            <p class="fw-bold h6" id="humidity"></p>
                        </div>
                        <p class="fw-bold h6 m-0">Humidity</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="../js/config.js"></script>
    <script src="../js/script.js"></script>

</body>

</html>